    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);">
      <div class="container">
        <h1>Welcome to MyCocktailList</h1>
        <p>Create and manage your own cocktails and become a real cocktail maker !</p>
      </div>
    </div>
